@charset "utf-8";
html, body{
	width:100%;
	height:100%;
	min-height:100%;
	overflow:hidden;
	background:#E0D6FE;
	border:0;
	padding:0;
}

tower, tower *, *::before, *::after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display:block;
  font-family:"Lucida Console", Monaco, monospace;
}

tower{
	font-size:18px;
	color: #fff;
	text-shadow:0px 1px #000,	1px 0px #000,	0px -1px #000,	-1px 0px #000,	1px 1px #000,	-1px 1px #000,	1px -1px #000,	-1px -1px #000;
	position:absolute;
	left:0;right:0;top:0;bottom:0;
	padding:0;margin:0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.4+0,0+100;White+to+Transparent */
background: -moz-linear-gradient(top,  rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

tower .gridBg{
	font-size:18px;
	position:absolute;
	left:0;right:0;top:0;bottom:0;
	padding:0;margin:0;
	display:block;
	content:'';
	background: url(../imgs/bg1.svg);
	background-size:100% 100%;
	z-index: 10000;
	opacity:0.2;
}

tower #renderCanvas{
	position:absolute;
	top:0;
	height:100%;
	width:100%;
	left:0;	
}

tower logo{
	position:absolute;
	background-image:url(../imgs/tower_logo.svg);
	background-size:100% auto;
	z-index: 10001;
}

tower logo.big{
	width:100%;
	height:100%;
	top:0;
	left:0;
	display:block;
}


page{
	display:block;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	position:absolute;
	z-index:20001;
	font-size:0.85em;
	padding:0.5em;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
background: rgb(149,149,149); /* Old browsers */
background: -moz-linear-gradient(top, rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.35);;
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.35);
}

page::before{
display:block;
position:absolute;
z-index:0;
left:2px;
top:1px;
right:2px;
bottom:1px;
content:'';
-webkit-border-radius: 1px;
	border-radius: 1px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100;Grey+3D+%232 */
background: rgb(96,108,136); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */	
}

page#home{
	width:620px;
	height:320px;	
}

pane{
	display:inline-block;
	position:relative;
	width:auto;
	height:auto;
	margin:0;
	padding:0;
	
}

pane.fullheight{
	height:calc(100% - 1em);
}
pane.halfwidth{
	width:50%;	
}

pane.left{
	float:left;	
}
pane.right{
	float:right;	
}

pane.abs{
	position:absolute;	
}

pane.scroll-y{
		overflow-y:auto;
		overflow-x:hidden;
}
pane.scroll-x{
		overflow-y:hidden;
		overflow-x:auto;
}
pane.scroll-both{
		overflow-y:auto;
		overflow-x:auto;
}

pane.half-width-fix{
	width:calc(50% - 0.5em);
}

tab{
	display:block;
	position:relative;
	width:100%;
	height:auto;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow:visible;
	margin-top:1.5em;
	margin-bottom: 1.7em;
		
}

tab > span{
	display:block;
	position:relative;
	width:100%;
	height:1.5em;
	line-height:1.5em;
	padding-left:0.8em;
	background-color:#D03D61;
	font-weight:bold;
	font-variant:small-caps;
	top:-1.5em;
	margin-bottom: -1.5em;
	left:0;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;	
  cursor:pointer;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
 	border-top-left-radius: 3px;
  	border-top-right-radius: 3px;
	overflow:hidden;
	
}

tab::after{
	display:block;
	position:absolute;
	width:auto;
	height:1.5em;
	line-height:1.5em;
	padding-right:1em;
	font-weight:bolder;
	content:'◄';
	top:-1.5em;
	right:0;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;	
  cursor:pointer;
  pointer-events:none;
}

tab.open::after{
	content:'▼';
}

tab:hover:after{
	content:'▼';
}



tab > div{
	display:none;
	width:100%;
	height:auto;
	border:1px solid #D03D61;
	padding-top: 0.2em;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100;Grey+3D+%232 */
background: rgb(96,108,136); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */	
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
 	border-top-bottom-radius: 3px;
  	border-top-bottom-radius: 3px;
		
}
tab.open > div{
	display:block;
	margin-bottom:0.2em;
	max-height:100%;

}

commit{
	display:block;
	width:100%;
	height: auto;
	position: relative;
}
commit #author-block{
	position: absolute;
	width:6em;
	height: 100%;
}
commit #author-name{
position:absolute;
	z-index: 2;
	left:50%;
	top:6.2em;
	transform: translate(-50%,0);
	
}
commit #author-picture, commit #author-picture img{
position: absolute;
	width: 100%;
	height: 6em;
	top:0;
	left:0;
}
commit #detail-block{
	position: relative;
	margin-left: 6.5em;
	min-height: 8.5em;
}
commit #detail-title{
	position: relative;
}
commit #detail-body{
	position: relative;
}

action{
	display: inline-block;
	font-size: 0.6em;
	padding: 0.35em 0.5em;
	line-height: 1em;
	background-color: #DA7527;
	position: relative;
	margin: 0.2em;
	cursor: pointer;
}

action:hover{
	background-color: #E56A17;
	color:#EEE;
}


action::after{
	position: relative;
	content: attr(name);
	text-shadow: none;
	font-weight: bold;
	
}


loading{
	display:block;
	width:calc(100% - 1em);
	height:1em;
	left:0;
	top:0;
	position:relative;
	background:white;
	margin:0.5em;	
	 background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
	
}

loading::after{
content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .2) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .2) 50%, 
    rgba(255, 255, 255, .2) 75%, 
    transparent 75%, 
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;	
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
