@charset "utf-8";
html, body{
	width:100%;
	height:100%;
	min-height:100%;
	overflow:hidden;
	background:#E0D6FE;
	border:0;
	padding:0;	
}

tower, tower *, *::before, *::after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display:block;
}

tower{
	font-size:18px;
	position:absolute;
	left:0;right:0;top:0;bottom:0;
	padding:0;margin:0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.4+0,0+100;White+to+Transparent */
background: -moz-linear-gradient(top,  rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0.6) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

tower #renderCanvas{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
}

tower logo{
	position:absolute;
	z-index:100;
	background-image:url(../imgs/icon_logo.png);
	background-position:center center;
	background-size:100% 100%;
}

tower logo.big{
	width:15vw;
	height:15vw;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);	
	display:none;
}


tower main{
	
	position:absolute;
	width:100%;
	z-index:2;
	height:1.5em;
	line-height:1.5em;
	color:#FFF;
	text-shadow:
	0px 1px #000,
	1px 0px #000,
	0px -1px #000,
	-1px 0px #000,
	1px 1px #000,
	-1px 1px #000,
	1px -1px #000,
	-1px -1px #000;
	font-family:"Courier New", Courier, monospace;
	font-weight:bold;	
	background-color:#831338;
	top:0;
	left:0;
	padding-left:80px;	
}
tower main select#mode{
	float:right;	
}

tower main .menu-top-item {
	position: relative;
	border-left: 1px solid black;
	border-right: 1px solid black;
	width: 120px;
	padding-left: 1em;
	padding-right: 1em;
	text-align: center;
	cursor: pointer;
	display: inline-block;
}

tower main .menu-top-item:hover{
	color: #999;
}
tower main .menu-top-item:hover > .menu-sub{
	display: block;
}

tower main .menu-top-item  > .menu-sub{
	display: none;
	text-align: left;
	font-size: 0.8em;
	white-space: nowrap;
	border-bottom: 1px solid black;
	background:#AA2759;
	position: absolute;
	width: 100%;
	left:0;
	padding: 0;
}

tower main .menu-top-item .menu-sub .menu-item:hover{
	color:white;
}

tower main .menu-top-item .menu-sub .menu-item:hover > .menu-sub{
	display: block;
}

tower main .menu-top-item .menu-sub:hover{
	display: block;
	color:#999;
}

tower main .menu-item{
	position: relative;
	width: 100%;
	padding: 1em;
	padding-top: 0;
	padding-bottom: 0;
}
tower second{
	position:absolute;
	left:0;
	top:1.5em;
	height:1em;
	right:0;
	background:#D25C69;	
	z-index:1;
	padding-left:80px;
}
tower tooltip{
	display:inline-block;
	position:relative;
	font-size:0.8;
	line-height:1em;
	color:#fff;
	font-weight:bolder;
	font-style:italic;
	text-align:left;
	margin-right:1em;
}


/*TOOL BAR*/
tower tools{
	width:80px;
	position:absolute;
	left:0;
	top: 2.5em;
	bottom:0;
	background:#999;
	overflow:visible;
	padding-top: 2em;
	text-align: center;
}

tower tools tool{
	display:block;
	position:relative;
	white-space: nowrap;
	
}

.material-icons{
display:none;
}

tower tools tool icon {
	display:none;
	cursor:pointer;
	width:48px;
	height:48px;
	margin-right:0em;
	border:1px solid black;
	background:white;
	position:relative;
}

tower tools tool:hover{
width:auto;
}

tower tools tool:hover icon {
	display:inline-block;
}

tower tools tool icon.active {
	display:inline-block;
}



/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


/*Panes*/
tower pane {
display:block;
position:absolute;
background:#FFC;
border:solid 1px black;
font-size:14px;
font-weight:normal;
padding-top:1.2em;
}
tower pane::after{
position:absolute;
display:block;
top:0;
left:0;
right:0;
height:1em;
font-style:italic;
content:attr(id);
background:rgba(51,51,51,0.4);
}

/*Inputs*/
action {
	display:inline-block;
	padding:0.2em 0.5em;
	background:#E22B46;
	font-size:0.85em;
	position:relative;
	margin:0.2em;
	cursor:pointer;
}

